@model VotoElectronico.MVC.ViewModels.AdminLoginViewModel

<h3>Administrador</h3>

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="alert alert-danger">@Model.Error</div>
}

<form method="post">
    <input asp-for="Correo" class="form-control mb-2" placeholder="Correo" />
    <input asp-for="Password" type="password" class="form-control mb-2" placeholder="Contraseña" />
    <button class="btn btn-dark w-100">Ingresar</button>
</form>