@model VotoElectronico.MVC.Models.Partido

<h3>Nuevo Partido</h3>

<form method="post">
    <input asp-for="Nombre" class="form-control mb-2" placeholder="Nombre del partido" />
    <button class="btn btn-success">Guardar</button>
</form>