@model List<VotoElectronico.MVC.ViewModels.BitacoraVM>


<h2 class="mb-4 text-center">📋 Bitácora del Sistema</h2>

<table class="table table-bordered table-striped text-center">
    <thead class="table-dark">
        <tr>
            <th>Fecha</th>
            <th>Rol</th>
            <th>Usuario</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.Fecha</td>
                <td>@b.Rol</td>
                <td>@b.Usuario</td>
                <td>@b.Accion</td>
            </tr>
        }
    </tbody>
</table>