<h2>✅ Código generado</h2>

<p>Guarde este código para votar:</p>

<div class="alert alert-success">
    <strong>@ViewBag.Codigo</strong>
</div>

<a asp-controller="Votacion" asp-action="Index" class="btn btn-success">
    Ir a votar
</a>