<div class="container mt-5 col-md-6">

    <h3>Estimado votante</h3>
    <p>Ingrese su número de cédula</p>

    <form method="post">

        <div class="mb-3">
            <label>Cédula</label>
            <input name="Cedula" class="form-control" />
        </div>

        <button class="btn btn-primary">
            Generar código
        </button>

    </form>
</div>