@{
    ViewData["Title"] = "Ingreso de Votante";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="text-center mb-3">Ingreso de Votante</h4>

                    <form asp-action="ValidarVotante" method="post">
                        <div class="mb-3">
                            <label class="form-label">Cédula</label>
                            <input name="cedula" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Código de votación</label>
                            <input name="codigo" class="form-control" required />
                        </div>

                        <button class="btn btn-primary w-100">
                            Ingresar a votar
                        </button>
                    </form>

                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger mt-3">
                            @ViewBag.Error
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>