@{
    ViewData["Title"] = "Voto registrado";
}

<div class="container mt-5 text-center">
    <div class="card shadow p-5 mx-auto" style="max-width:500px;border-radius:20px;">
        <h2 class="text-success mb-3">✔ Voto registrado correctamente</h2>
        <p>Gracias por participar en la votación.</p>
        <p>Se ha enviado su certificado al correo registrado.</p>

        <a href="/Home" class="btn btn-primary mt-3">Finalizar</a>
    </div>
</div>