@foreach (var candidato in Model.Candidatos)
{
    <div class="card mb-2">
        <div class="card-body">
            <h5>@candidato.Nombre</h5>
            <p>@candidato.Partido.Nombre</p>

            <form asp-action="Votar" method="post">
                <input type="hidden" name="candidatoId" value="@candidato.Id" />
                <button type="submit" class="btn btn-success">
                    Votar
                </button>
            </form>
        </div>
    </div>
}