@model List<VotoElectronico.MVC.Models.ResultadoDTO>

<div class="container mt-5">
    <h2 class="text-center mb-4">Resultados electorales</h2>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-body text-center">

                        <img src="@item.FotoUrl"
                             class="rounded-circle mb-2"
                             width="120" height="120" />

                        <h5>@item.NombreCandidato</h5>
                        <p class="text-muted">@item.Partido</p>

                        <h3 class="text-primary">@item.TotalVotos votos</h3>

                    </div>
                </div>
            </div>
        }
    </div>
</div>