<div class="menu-cne">
    <div class="container">
        <div class="row text-center">

            <div class="col-md-3">
                <a asp-controller="Partidos" asp-action="Index" class="menu-item">
                    🏛️<br />Partidos
                </a>
            </div>

            <div class="col-md-3">
                <a asp-controller="Resultados" asp-action="Index" class="menu-item">
                    📊<br />Resultados
                </a>
            </div>

            <div class="col-md-3">
                <a asp-controller="Voto" asp-action="Index" class="menu-item">
                    🗳️<br />Voto Electrónico
                </a>
            </div>

            <div class="col-md-3">
                <a asp-controller="Transparencia" asp-action="Index" class="menu-item">
                    🔍<br />Transparencia
                </a>
            </div>

        </div>
    </div>
</div>